@font-face {
	font-family: 'Montserrat';
	font-display: auto;
	font-weight: 700;
	src: url("../public/fonts/Montserrat-Bold.ttf");
}

@font-face {
	font-family: 'Montserrat';
	font-display: auto;
	font-weight: 500;
	src: url("../public/fonts/Montserrat-Medium.ttf");
}

@font-face {
	font-family: 'Montserrat';
	font-display: auto;
	font-weight: 400;
	src: url("../public/fonts/Montserrat-Regular.ttf");
}